<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiBaseAddress" value="https://developer-demo.australiaeast.cloudapp.azure.com/" />
    <add key="access_token" value="mVy0iIcr7/h3dI2YPW2hCoTf0l0="/>
    <add key="api_list_hierachy" value="api/list_hierarchy_nodes"/>
    <add key="api_create_request" value="api/requests/create_request"/>
    <add key="api_get_request" value="api/requests"/>
    <add key="api_create_asset" value="api/assets/create_asset"/>
    <add key="api_add_document" value="api/documents/add_document"/>
  </appSettings>
</configuration>